body { font-family: Arial, sans-serif; padding: 20px; }
h1 { text-align: center; }
table { width: 50%; border-collapse: collapse; margin-top: 20px; margin-left:auto; margin-right:auto; }
th, td { border: 1px solid #333; text-align: center; padding: 10px; }
select { width: 100px; }
input { margin: 5px; }
#loginMsg { color: red; margin-left: 10px; }
